<%= form_with model: article do |form| %>
	
	<div class="form-style-9">
		<%= form.label :title %><br>
		<%= form.text_field :title %>
	</div>

	<div class="form-style-9">
		<%= form.label :body %><br>
		<%= form.text_area :body %><br>
	</div>

	<div class="form-style-9">
		<%= form.label :status %><br>
		<%= form.select :status, ['public', 'private', 'archived'], selected: 'public' %>
	</div>

	<div class="form-style-9">
		<%= form.submit %>
	</div>
	<% flash.each do |type, msg| %>
		<div class="alert" >
			<%= msg %>
		</div>
	<% end %>
<% end %>
